[commit]
	gpgsign = true

[gpg]
	format = "ssh"

[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"

[user]
	email = "dwaris@itclowd.de"
	name = "dwaris"
	signingkey = /home/dwaris/.ssh/id_ed25519.pub

[core]
	excludesfile = ~/.gitignore.global
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
