@import "mocha.css";
* {
	font-family: 'SauceCodePro Nerd Font';
	font-size: 14px;
    min-height: 0;
}

#waybar {
  color: @text;
  background-color: transparent;
  margin: 5px 5px;
}

#workspaces {
  background-color: transparent;
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border: none;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: @lavender;
  color: @base;
  border-radius: 1rem;
}

#custom-music,
#window,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#pulseaudio {
  padding: 0.5rem 0.5rem;
}

#clock {
  color: @blue;
  border-radius: 1rem 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio.sink, #backlight {
  border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio.sink.muted {
  color: @red;
}

#pulseaudio.sink:not(.muted) {
    color: @text;
}

#pulseaudio.source-muted {
    color: @red; 
}

#pulseaudio.source, #battery {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#window {
  border-radius: 1rem 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem 1rem;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 1rem 1rem;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem 1rem;
}

#workspaces button.urgent {
  color: @red;
}

