@import "mocha.css";
* {
  background-color: @surface0;
  color: @text;
  border: none;
  font-family: "SauceCodePro Nerd Font Propo";
  font-size: 1rem;
  border-radius: 0;
  min-height: 0;
}

.modules-left {
  margin-left: 1rem;
}

.modules-right {
  margin-right: 1rem;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-music,
#window,
#tray,
#backlight,
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#custom-power
{
  padding: 0.5rem 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-power, #workspaces button.urgent, #pulseaudio.source-muted, #pulseaudio.sink.muted {
  color: @red;
}

#pulseaudio.sink:not(.muted) {
    color: @text;
}

