@import "mocha.css";

* {
  color: @text;
  border: none;
  font-family: "BlexMono Nerd Font Propo";
  font-size: 1rem;
  border-radius: 0;
  min-height: 0;
}

#waybar {
  background-color: @surface0;
}

.modules-left {
  margin-left: 1rem;
}

.modules-right {
  margin-right: 1rem;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-power,
#workspaces button.urgent,
#pulseaudio.source-muted,
#pulseaudio.sink.muted {
  color: @red;
}

#pulseaudio.sink:not(.muted) {
  color: @text;
}

#tray menu {
  background-color: @surface0;
  border: 1px solid @surface2;
  padding: 0.25rem 0.25rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-rofi {
  padding: 0 0.5rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#custom-power {
  padding: 0.5rem 1rem;
}

#workspaces button:hover,
#custom-rofi:hover,
#bluetooth:hover,
#network:hover,
#power-profiles-daemon:hover,
#tray menuitem:hover,
#tray :hover,
#backlight:hover,
#pulseaudio:hover,
#idle_inhibitor:hover,
#clock:hover,
#battery:hover,
#custom-power:hover {
  background-color: @surface1;
}